*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5em;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f0fd;
}

.no-show, .no-show-div {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  width: 15ch;
}

li:hover {
  /* background: #535bf2; */
  border-bottom: 2px solid rgba(84, 92, 242, 0.5);
  color: white;
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  left: 0;
  padding: 2.5em;
  z-index: 20;
}

.nav-bar li a {
  font-weight: 700;
  font-size: 1.2rem
}

.nav-pages {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  gap: 5em;
  margin: 0 auto;
  font-weight: 700;
}


.section-container {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  width: 80vw;
  height: 92vh;
  box-shadow: 18px 10px 20px #646cff;
  align-self: center;
  justify-self: center;
  padding-top: 8em;
}

.section-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  height: 80vh;
  max-width: 100%;
  padding: 20px 2em;
}
.section-content, .show-section-content {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  height: 80vh;
  max-width: 100%;
  padding: 20px 2em;
}
.show-section-content {
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
}

.section-image {
  width: 25%;
  min-width: 300px;
  height: auto
}
.section-image img {
  width: 100%
}

.section-text {
  max-width: 65%;
}
.section-text p {
   text-align: justify;
}

.swiper {
  width: clamp(250px, 30vw, 650px);
  height: clamp(250px, 30vw, 650px);

}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  border: 20px solid rgb(253, 252, 252);
  border-bottom: 3rem solid rgb(253, 252, 252);
  box-shadow: 0 10px 7px lightblue;
}

.swiper-slide h3 {
  position: relative;
  top: 0.05em;
  font-size: clamp(1rem, 1.5rem, 1vw);
  color: rgb(87, 85, 97)
}

.swiper-pagination {
  position: relative;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.5rem 2rem 0 0
}


.projects-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 5em 7em;
}

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  height: 90%
}

.section-text h1 {
  justify-self: flex-start;
  margin-bottom: 10rem;
}

.section-text p {
  height: 50%
}

.btn--info {
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.btn:focus, .btn:focus-visible {
  opacity: 0;
}

.links-img img {
  max-width: 30px;
}

.links-img img a {
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.links-img a{
  max-width: 100px;
  margin-left: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
